<% if form.object.errors.any? %>
  <div class="alert alert-danger">
    <strong>The following errors prevented saving:</strong>
    <ul>
      <% form.object.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>